{% include 'base/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    
<head>
	<title>Login to Holoinfo</title>
    {% block customStyle %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/user/style.css' %}">
    {% endblock customStyle %}
    <style>
    .bg-dark {
    background-color: #f93875;
}
  </style>
</head>

{% block content %}
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="https://pbs.twimg.com/profile_images/1198438854841094144/y35Fe_Jj_400x400.jpg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            {{ form.username }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {{ form.password }}
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                            <input type="submit" name="button" class="btn login_btn" value="Login">
                        </div>
                    </form>
                </div>
                <div class="mt-1">
                    <div class="d-flex justify-content-center">
                        {% for fields, errors in form.errors.items %}
                            {{errors}}
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="{% url 'user:signup' %}" class="ml-2">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="{% url 'user:password_reset' %}">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
</html>
   <!-- switch -->
<script>
var checkbox = document.getElementById("ChangeTheme"); 

//check storage if dark mode was on or off
if (sessionStorage.getItem("mode") == "dark") {
  darkmode();
} else {
  nodark(); 
}
//if the checkbox state is changed, run a funtion
checkbox.addEventListener("change", function() {
  if (checkbox.checked) {
    darkmode(); 

  } else {
    nodark(); 
  }
});

//function for checkbox when checkbox is checked
function darkmode() {
  document.body.classList.add("dark-mode"); 
  checkbox.checked = true; 
  sessionStorage.setItem("mode", "dark"); 
}

function onload() {
  document.body.classList.toggle('dark-mode', localStorage.getItem('darkmode') === 'true');
}

//function for checkbox when checkbox is not checked
function nodark() {
  document.body.classList.remove("dark-mode"); 
  checkbox.checked = false; 
  sessionStorage.setItem("mode", "light"); 
}
</script>
  <!-- switch -->