{% extends 'base/base.html' %}

{% load my_tags %}
{% block title %}
<title>
    Archived Videos
</title>
{% endblock %}

{% block customStyle %}
<style>
  .jumbotron {
padding-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 0;
background-color: #fff;
}
.card-body {
    background-color:#519de8;
    color:white;
}
.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}
.text-muted {
    color: #fff!important;
}
.dark-mode {
    background-color: #2f2f2f;
}
body.dark-mode {
  background-color: #2f2f2f;
  color:white;
}
.card {
    background-color: #519de8;
}
@media (min-width: 768px) {
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
}

.jumbotron p:last-child {
margin-bottom: 0;
}

.jumbotron h1 {
font-weight: 300;
}

.jumbotron .container {
max-width: 40rem;
}

footer {
padding-top: 3rem;
padding-bottom: 3rem;
}

footer p {
margin-bottom: .25rem;
}
/* Switch Specific Style Start */


.toggle_switch{
  width: 100px;
  height: 45px;
  position: relative;
}

input[type="checkbox"].switch_3{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring{
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing .35s ease-in-out forwards;
          animation: resetRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring{
  -webkit-animation: animateRing .35s ease-in-out forwards;
          animation: animateRing .35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked{
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked{
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
          transform: translateX(-200%) rotate(180deg);
}


svg.checkbox{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked{
  opacity: 0;
  fill: white;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
          transform: translateX(200%) rotate(45deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

svg.checkbox .is_unchecked{
  opacity: 1;
  fill: yellow;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  -webkit-transition: all .35s;
  transition: all .35s;
}

@-webkit-keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@keyframes animateRing{
  to{
    stroke-dashoffset: 0;
    stroke: #233043;
  }
}

@-webkit-keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

@keyframes resetRing{
  to{
    stroke-dashoffset: 0;
    stroke: #b0aa28;
  }
}

/* Switch Specific Style End */
</style>
{% endblock %}

{% block content %}

    <div class="py-5 text-center">
      <h2>Archived Videos</h2>
      <p class="lead">Below are some of the Arcived Video.</p>
    </div>
<hr class="mb-4">

  <div class="album py-5">

    

      <div class="container">
        <div class="row mb-4">
          <div class="card card-body">
    
            <form action="" method="get">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">From:</label>
                    {{myFilter.form.start_date}}
                  </div>
                <div class="form-group col-md-6">
                  <label for="name">Until:</label>
                  {{myFilter.form.end_date}}
                </div>
              </div>
              <button class="btn btn-primary" type="submit">
                Filter
              </button>
            </form>
          </div>
        </div>

        {% include 'base/paginator.html' %}
  
        <div class="row">
  
          {% for video in page_obj %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="https://www.youtube.com/watch?v={{ video.videoId }}">
              <img style="  width: 347px;height: 180px;object-fit: cover;" src="{{ video.thumbnail }}" alt="url">
              </a>
              <a href="https://www.youtube.com/channel/{{ video.channelId.channelId }}">
                 <img src="{{ video.channelId.icon }}" alt="icon" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="width: 60px;height: 60px;position: absolute;left: 12px;bottom: 125px;border-radius: 30px;border: 2px solid #000;overflow: hidden;">
              </a>
              <div class="card-body">
                <div style="height: 65px;margin-top: 10px;">
                  <p style="display: -webkit-box;
                  /* webkit only works on a few browsers */
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;">{{ video.title }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  {% if video.liveBroadcastContent == "live" %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-danger">Live</button></a>
                  </div>
                  <small class="text-muted">{{video.actualStartTime}}</small>
                  {% elif video.liveBroadcastContent == "upcoming" %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-info">In {{ video.scheduledStartTime|timeuntil|upto:',' }}</button></a>
                  </div>
                  <small class="text-muted">{{video.scheduledStartTime}}</small>
                  {% else %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-secondary">
                      {% if video.actualStartTime %}
                      {{ video.actualStartTime|timesince|upto:',' }} ago
                      {% else %}
                      {{ video.publishedAt|timesince|upto:',' }} ago
                      {% endif %}
                    </button></a>
                  </div>
                  <small class="text-muted">
                    {% if video.actualStartTime %}
                      {{ video.actualStartTime }}
                    {% elif video.scheduledStartTime %}
                      {{ video.scheduledStartTime }}
                    {% else %}
                      {{ video.publishedAt }}
                    {% endif %}
                  </small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
      {% include 'base/paginator.html' %}
    </div>
  {% endblock %}