{% extends 'base/base.html' %}

{% load my_tags %}
{% block title %}
<title>
    {{selectedChannel.name}}
</title>
{% endblock %}
{% load static %}

{% block customStyle %}
<style>
  .jumbotron {
padding-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 0;
background-color: #fff;
}
@media (min-width: 768px) {
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
}

.jumbotron p:last-child {
margin-bottom: 0;
}

.jumbotron h1 {
font-weight: 300;
}

.jumbotron .container {
max-width: 40rem;
}

footer {
padding-top: 3rem;
padding-bottom: 3rem;
}

footer p {
margin-bottom: .25rem;
}
</style>
{% endblock %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <img class="bd-placeholder-img rounded-circle" src="{{ selectedChannel.icon }}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
    <h2>
      {% if selectedChannel.agency %}
      <img class="bd-placeholder-img" src="{{selectedChannel.agency.icon.url}}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x24" style="height: 50px;">
      {% endif %}
      {% for language in selectedChannel.language.all %}
      <img class="bd-placeholder-img" src="{{language.icon.url}}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x24">
      {% endfor %}
    </h2>
    <h2>{{ selectedChannel.name }}</h2>
    <p>
      <a href="https://www.youtube.com/channel/{{ selectedChannel.channelId }}" class="btn btn-secondary my-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.122C.002 7.343.01 6.6.064 5.78l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
      </svg> Go to channel</a>
      <a href="{% url 'channel-update' selectedChannel.channelId %}" class="btn btn-secondary my-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
      </svg> Update</a>
    </p>
  </div>
</section>

{% if messages %}
        <div class="py-5 text-center">
          <h2>Info:</h2>
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
        </div>
{% endif %}
<hr class="mb-4">

  <div class="album py-5 bg-light">

    {% include 'base/paginator.html' %}

      <div class="container">
  
        <div class="row">
  
          {% for video in page_obj %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="https://www.youtube.com/watch?v={{ video.videoId }}">
              <img style="  width: 347px;height: 180px;object-fit: cover;" src="{{ video.thumbnail }}" alt="url">
              </a>
              <a href="https://www.youtube.com/channel/{{ video.channelId.channelId }}">
                 <img src="{{ video.channelId.icon }}" alt="icon" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="width: 60px;height: 60px;position: absolute;left: 12px;bottom: 125px;border-radius: 30px;border: 2px solid #000;overflow: hidden;">
              </a>
              <div class="card-body">
                <div style="height: 65px;margin-top: 10px;">
                  <p style="display: -webkit-box;
                  /* webkit only works on a few browsers */
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;">{{ video.title }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  {% if video.liveBroadcastContent == "live" %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-danger">Live</button></a>
                  </div>
                  <small class="text-muted">{{video.actualStartTime}}</small>
                  {% elif video.liveBroadcastContent == "upcoming" %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-info">In {{ video.scheduledStartTime|timeuntil|upto:',' }}</button></a>
                  </div>
                  <small class="text-muted">{{video.scheduledStartTime}}</small>
                  {% else %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-secondary">
                      {% if video.actualStartTime %}
                      {{ video.actualStartTime|timesince|upto:',' }} ago
                      {% else %}
                      {{ video.publishedAt|timesince|upto:',' }} ago
                      {% endif %}
                    </button></a>
                  </div>
                  <small class="text-muted">
                    {% if video.actualStartTime %}
                      {{ video.actualStartTime }}
                    {% elif video.scheduledStartTime %}
                      {{ video.scheduledStartTime }}
                    {% else %}
                      {{ video.publishedAt }}
                    {% endif %}
                  </small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
      {% include 'base/paginator.html' %}
    </div>
  {% endblock %}