{% extends 'base/base.html' %}

{% load my_tags %}
{% block title %}
<title>
    {{selectedChannel.name}}
</title>
{% endblock %}

{% block customStyle %}
<style>
  .jumbotron {
padding-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 0;
background-color: #fff;
}
@media (min-width: 768px) {
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
}

.jumbotron p:last-child {
margin-bottom: 0;
}

.jumbotron h1 {
font-weight: 300;
}

.jumbotron .container {
max-width: 40rem;
}

footer {
padding-top: 3rem;
padding-bottom: 3rem;
}

footer p {
margin-bottom: .25rem;
}
</style>
{% endblock %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <img class="bd-placeholder-img rounded-circle" src="{{ selectedChannel.icon }}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
    <h1>{{ selectedChannel.name }}</h1>
    <p>
      <a href="https://www.youtube.com/channel/{{ selectedChannel.channelId }}" class="btn btn-secondary my-2">Go to channel</a>
    </p>
  </div>
</section>
<hr class="mb-4">

  <div class="album py-5 bg-light">

    {% include 'base/paginator.html' %}

      <div class="container">
  
        <div class="row">
  
          {% for video in page_obj %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="https://www.youtube.com/watch?v={{ video.videoId }}">
              <img style="  width: 347px;height: 180px;object-fit: cover;" src="{{ video.thumbnail }}" alt="url">
              </a>
              <a href="https://www.youtube.com/channel/{{ video.channelId.channelId }}">
                 <img src="{{ video.channelId.icon }}" alt="icon" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="width: 60px;height: 60px;position: absolute;left: 12px;bottom: 125px;border-radius: 30px;border: 2px solid #000;overflow: hidden;">
              </a>
              <div class="card-body">
                <div style="height: 65px;margin-top: 10px;">
                  <p style="display: -webkit-box;
                  /* webkit only works on a few browsers */
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;">{{ video.title }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  {% if video.liveBroadcastContent == "live" %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-danger">Live</button></a>
                  </div>
                  <small class="text-muted">{{video.actualStartTime}}</small>
                  {% elif video.liveBroadcastContent == "upcoming" %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-info">In {{ video.scheduledStartTime|timeuntil|upto:',' }}</button></a>
                  </div>
                  <small class="text-muted">{{video.scheduledStartTime}}</small>
                  {% else %}
                  <div class="btn-group">
                    <a href="https://www.youtube.com/watch?v={{ video.videoId }}"><button type="button" class="btn btn-sm btn-outline-secondary">
                      {% if video.actualStartTime %}
                      {{ video.actualStartTime|timesince|upto:',' }} ago
                      {% else %}
                      {{ video.publishedAt|timesince|upto:',' }} ago
                      {% endif %}
                    </button></a>
                  </div>
                  <small class="text-muted">
                    {% if video.actualStartTime %}
                      {{ video.actualStartTime }}
                    {% elif video.scheduledStartTime %}
                      {{ video.scheduledStartTime }}
                    {% else %}
                      {{ video.publishedAt }}
                    {% endif %}
                  </small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
      {% include 'base/paginator.html' %}
    </div>
  {% endblock %}