{% extends 'base/base.html' %}

{% block title %}
<title>
    Channels
</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="py-5 text-center">
      <h2>All Channels</h2>
      <p class="lead">Below are some of the channels saved in our database. You can also find or add new channel with the form provided.</p>
    </div>
  
    <div class="row">
      <div class="col-md-12 order-md-1">
        <form action="" method="POST">
        {% csrf_token %}
          <div class="mb-3">
            <label for="username">Channel URL</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">youtube.com/channel/</span>
              </div>
              <!-- <input type="text" class="form-control" id="channelId" name="channelId" placeholder="Channel ID e.g. 'UCP0BspO_AMEe3aQqqpo89Dg'" required> -->
              {{form}}
            </div>
          </div>
  
          <button class="btn btn-outline-secondary btn-lg btn-block" type="submit">Find</button>
        </form>
        {% if messages %}
        <div class="py-5 text-center">
          <h2>Info:</h2>
          {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <hr class="mb-4">
      </div>
    </div>
  
  </div>

  <div class="container marketing">

    <div class="row mb-4">
          <div class="card card-body">

            <form action="" method="get">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Name contains:</label>
                    {{myFilter.form.name}}
                  </div>
                <div class="form-group col-md-6">
                  <label for="name">Agency:</label>
                  {{myFilter.form.agency}}
                </div>
              </div>
              <div class="form-group">
                <label for="name">Language(s)</label>
                  {{myFilter.form.language}}
              </div>
              <button class="btn btn-outline-secondary" type="submit">
                Filter
              </button>
            </form>
          </div>
        </div>

        {% include 'base/paginator.html' %}
    <!-- Three columns of text below the carousel -->
    <div class="row">
    {% for channel in page_obj %}
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src="{{ channel.icon }}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <h5>
          {% if channel.agency %}
          <img class="bd-placeholder-img" src="{{channel.agency.icon.url}}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x24" style="height: 25px;">
          {% endif %}
          {% for language in channel.language.all %}
          <img class="bd-placeholder-img" src="{{language.icon.url}}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x24">
          {% endfor %}
        </h5>
        <h5>{{channel.name}}</h5>
        <p><a class="btn btn-outline-secondary" href="{% url 'channel-detail' channel.channelId %}" role="button">View Details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    {% endfor %}
    </div><!-- /.row -->
    {% include 'base/paginator.html' %}
    <hr class="mb-4">

  </div><!-- /.container -->
{% endblock %}