{% extends 'base/base.html' %}

{% load my_tags %}
{% block title %}
<title>
    Help
</title>
{% endblock %}
{% block content %}
    <div class="py-5 text-center">
      <h2>Disclaimer</h2>
      <p class="lead">This is only a fan website.
  This is NOT a Hololive official website, and does not represent interests of CoverCorp and/or related companies.
  Content watched and consumed through this website are properties of their respective streamers and owners.
  Please support the streamers in your own way, such as subscribing, watching, superchats, buying merchandise, etc..</p>
    </div>
        <div class="py-5 text-center">
      <h2>Credits</h2>
      <p class="lead">we would like to give big thanks to the  team for <a href="https://schedule.hololive.tv/"> schedule.hololive</a>.
Also See schedule.hololive.tv for official schedule and links</p>
    </div>
  {% endblock %}